GEMINI_API_KEY=
CHAT_MODEL=
IMAGE_CHAT_MODEL=
IMAGE_MODEL=
AUDIO_MODEL=

EMBEDDING_MODEL=
DIMENSIONS= 

COLLECTION_NAME=

PROJECT_ID=
LOCATION=
GOOGLE_APPLICATION_CREDENTIALS=
BUCKET=
BUCKET_URI=

DISPLAY_NAME=
INDEX_ID=
INDEX_ENDPOINT_ID=
DEPLOYED_INDEX_ID=


INSTAGRAM_CLIENT_ID=
INSTAGRAM_CLIENT_SECRET=
INSTAGRAM_ACCESS_TOKEN=
INSTAGRAM_PAGE_ACCESS_TOKEN=
INSTAGRAM_USER_ID=