ollama
chromadb
pdfplumber
langchain
langchain-core
Langchain-ollama
langchain-community
langchain_text_splitters
unstructured
unstructured [all-docs]
fastembed
pdfplumber
sentence-transformers
elevenlabs
