google_cloud_aiplatform==1.147.0
googletrans==4.0.2
langchain_core==1.2.29
langchain_google_genai==4.2.1
langchain_text_splitters==1.1.1
moviepy==2.2.1
pandas==3.0.2
pdf2image==1.17.0
Pillow==12.2.0
protobuf==7.34.1
pydantic_settings==2.13.1
pypdf==6.10.1
python-dotenv==1.2.2
sentence_transformers==5.4.0
